html{
	height: 100%;
}
body{
	background: #fff;
  margin: 0;
  font-family: sans-serif;
}
.title-bar{
  display: block;
  margin: 0;
  text-align: center;
  background: black;
  color: white;
  padding-top: 22px;
  user-select: none;
}
.title-bar .nav a{
	padding: 9px 6px;
	text-decoration: none;
	color: #6a6a6a;
	font-size: 105%;
	font-weight: normal;
}
.title-bar .nav{
	margin-top: 30px;
	padding: 8px;
	background: #eee;
	color: #000;
}
a {
  color: #22a;
}
a:visited{
  color: #44a;
  /*color: #82a;*/
}
td{
  padding: 4px;
}
/*
.title-bar .nav a.active::before{
	content: '[ ';
}
.title-bar .nav a.active::after{
	content: ']';
}*/
.title-bar .nav a.active{
  color: #282828;
  font-weight: bold;
}
.title-bar .nav a.username{
  background: #ccc;
  color: white;
}
.main-content{
	padding-bottom: 30px;
}
.main-inner{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding: 8px 32px;
}

input[type="text"], input[type="password"], input[type="email"]{
	width: 240px;
  font-size: 18px;
}

input[type="submit"], input[type="button"]{
	background: #000;
	color: #fff;
	padding: 8px 12px;
	min-width: 60px;
	border: none;
	border-radius: 6px;
	font-size: 14px;
}
